<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.spzx.manager.service.mapper.SystemBrandMapper">
    <sql id="columns">
        id, name, logo
    </sql>

    <select id="selectList" resultType="com.mall.spzx.model.entity.product.Brand">
        select <include refid="columns" /> from brand where is_deleted = 0
    </select>
    <insert id="insert" parameterType="com.mall.spzx.model.entity.product.Brand" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
       insert into brand (name, logo) values (#{name}, #{logo})
    </insert>
    <update id="updateById" parameterType="com.mall.spzx.model.entity.product.Brand" >
        update brand set
            <if test="name != null and name != ''"> name = #{name} </if>
            <if test="logo != null and logo != ''">, logo = #{logo} </if>
        where id = #{id}
    </update>

    <update id="deleteById" parameterType="Long">
        update brand set is_deleted = 1 where id = #{id}
    </update>
</mapper>